$primary-colour:#222;
$secondary-colour:white;
$glow-colour:rgba(13, 183, 250, 0.2);
$icon-colour:#007ced;



@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;700&display=swap');



@mixin button ()
{
    border-radius:  25px; 
    
    background-color: $icon-colour;
    color:$secondary-colour;
    border-color: rgb(11, 94, 172);
    height:2rem;
    width: 8rem;
    box-shadow: 0 4px 8px 0 $glow-colour;
    transition: 0.3s;
    

    
}



*
{
    box-sizing: border-box;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:$primary-colour ;
    color:$secondary-colour;
}

main{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    .right-main{
        width: 50%;
        height: 100%;
        
    }
    img{
        width: 400px;
        height:400px;
        border-radius: 2%;
        border-color: #26282a;
        border-style: solid;
        box-shadow: 0 40px 80px 0 $glow-colour;
        border-color: aliceblue;

    }
    button{
        @include button();
    }
    button:hover{
        box-shadow: 0 40px 80px 0 $glow-colour;
        background-color: $icon-colour;
    }
    
    }
   


//Row for Skills
.row{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 5%;

}    
.skill-field{
display: flex;    
flex-basis: 600px;
max-height: 200px;
margin-bottom: 20px;


    h1{
        margin: 0;
        padding: 0;
    }
    i{
        color: $icon-colour;
        margin-right: 10px;
    }

}
.section-header{
    margin-left: 5%;
    
    
}

.sub-line{
    background-color: $icon-colour;
    width: 200px;
    height: 10px;
    margin-bottom: 100px;
    margin-left: 5%;

}

/*Responsive Design*/

@media screen and (max-width: 600px) {
    
}
